/*
  File Name  dark.css
  Project    plind.us
  Version    8.0.0
  Author     Peter Lindstrom
  Purpose    Dark mode themed styles utilized throughout the site.
  Copyright  2003-2020, Peter Lindstrom
  Link       https://github.com/plindstrom/plind.us
*/

:root{
    --color: #a8a8a8;
    --background-color: #222;
    --border-color: #555;
    --link-color: #9cdcfe;
    --link-hover: #d7ba7d;
}