/*
  File Name  global.css
  Project    plind.us
  Version    9.0.0
  Author     Peter Lindstrom
  Purpose    Global styles utilized throughout the site.
  Copyright  2003-2023, Peter Lindstrom
  Link       https://github.com/plindstrom/plind.us
*/


/* Define style variables -------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");

:root{
  --grey-dark: rgb(20,24,32);
  --grey-medium-dark: rgb(40,44,52);
  --grey-medium: rgb(41,48,61);
  --grey-medium-light: rgb(71,78,91);
  --grey-light: rgb(171,178,191);
  --grey-white: rgb(191,198,211);
  --red-medium: rgb(224,108,117);
  --green-medium: rgb(152,195,121);
  --orange-medium: rgb(209,154,102);
  --blue-medium: rgb(97,175,239);
  --purple-medium: rgb(198,120,221);
  --cyan-medium: rgb(86,182,194);
}


/* Set default formatting -------------------------------------------------- */
html,body,header,footer,nav,main,section,article,aside,h1,h2,h3,h4,h5,h6,ol,ul,img,p{
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

html{
  font-size: 100%;
}

body{
  background-color: var(--grey-dark);
  font-family: 'Fira Mono', monospace;
  color: var(--grey-light);
}

h1{
  margin: 0 0 1rem 0;
  font-size: calc(1.8rem + 0.5vw);
  color: var(--orange-medium);
}

h2{
  margin: 4rem 0 0.5rem 0;
  font-size: calc(1.4rem + 0.5vw);
  color: var(--green-medium);
}

h2:first-child{
  margin: 0 0 0.5rem 0;
}

h3{
  margin: 3rem 1rem 0.5rem 1rem;
  font-size: calc(1.2rem + 0.3vw);
  color: var(--cyan-medium);
}

h4{
  margin: 2rem 1rem 0.5rem 1rem;
  font-size: calc(1.2rem + 0.3vw);
  text-decoration: underline;
  color: var(--grey-white);
}

h5{
  margin: 2rem 1rem 0.5rem 1rem;
  font-size: calc(1.1rem + 0.3vw);
  color: var(--grey-light);
}

h6{
  margin: 2rem 1rem 0.5rem 1rem;
  font-size: calc(1rem + 0.3vw);
  font-weight: normal;
  font-style: italic;
  color: var(--grey-light);
}

p{
  margin: 0 1rem 2rem 1rem;
  font-size: calc(1rem + 0.3vw);
}

p:last-child{
  margin: 0 1rem;
}

ul,ol{
  margin: 0 1rem 2rem 2rem;
  font-size: calc(1rem + 0.3vw);
  list-style-position: inside;
  list-style-type: square;
}

table{
  margin: 0 1rem 2rem 1rem;
  border: 0.2rem solid var(--grey-medium-light);
  border-collapse: collapse;
  font-size: calc(1rem + 0.3vw);
}

th,td{
  padding: 0.5rem;
  border: 0.1rem solid var(--grey-medium-light);
}

th{
  border-bottom: 0.2rem solid var(--grey-medium-light);
  background-color: var(--grey-dark);
}

tr:nth-child(odd){
  background-color: var(--grey-medium);
}

a{
  color: var(--blue-medium);
}

a:hover{
  color: var(--red-medium);
  text-decoration: underline;
}

br{
  clear: both;
}


/* Page header ------------------------------------------------------------- */
header{
  padding: 2rem;
  text-align: center;
}

header div.header-title{
  font-size: calc(1.8rem + 0.5vw);
  font-weight: bold;
}

header div.header-title a{
  text-decoration: none;
  color: var(--purple-medium);
}


/* Page navigation --------------------------------------------------------- */
nav{
  padding: 2rem;
  background-color: var(--grey-medium);
  border-top: 0.2rem solid var(--grey-medium-light);
  border-right: 0.2rem solid var(--grey-medium-light);
  border-left: 0.2rem solid var(--grey-medium-light);
}

nav div.nav-path{
  font-size: calc(0.7rem + 0.3vw);
}

nav div.nav-path a{
  text-decoration: none;
}

nav div.nav-path a:hover{
  text-decoration: underline;
}



/* Page content ------------------------------------------------------------ */
main{
  padding: 2rem;
  background-color: var(--grey-medium-dark);
  border: 0.2rem solid var(--grey-medium-light);
}

.a1,.f1,.a2,.f2,.a3,.f3,.a4,.f4,.a5,.f5,.a6,.f6,.a7,.f7,.a8,.f8{
  width: 100%;
  height: 2rem;
  background-color: var(--purple-medium);
  animation-name: waves-a;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{
  width: 100%;
  height: 2rem;
  background-color: var(--cyan-medium);
  animation-name: waves-b;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8{
  width: 100%;
  height: 2rem;
  background-color: var(--orange-medium);
  animation-name: waves-c;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.d1,.d2,.d3,.d4,.d5,.d6,.d7,.d8{
  width: 100%;
  height: 2rem;
  background-color: var(--red-medium);
  animation-name: waves-d;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.e1,.e2,.e3,.e4,.e5,.e6,.e7,.e8{
  width: 100%;
  height: 2rem;
  background-color: var(--blue-medium);
  animation-name: waves-e;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.a2,.b2,.c2,.d2,.e2,.f2{
  animation-delay: 0.25s;
}

.a3,.b3,.c3,.d3,.e3,.f3{
  animation-delay: 0.5s;
}

.a4,.b4,.c4,.d4,.e4,.f4{
  animation-delay: 0.75s;
}

.a5,.b5,.c5,.d5,.e5,.f5{
  animation-delay: 1s;
}

.a6,.b6,.c6,.d6,.e6,.f6{
  animation-delay: 1.25s;
}

.a7,.b7,.c7,.d7,.e7,.f7{
  animation-delay: 1.5s;
}

.a8,.b8,.c8,.d8,.e8,.f8{
  animation-delay: 1.75s;
}

@keyframes waves-a{
  0% {background-color: var(--purple-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--cyan-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--purple-medium); color: var(--grey-medium-dark);}
}

@keyframes waves-b{
  0% {background-color: var(--cyan-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--orange-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--cyan-medium); color: var(--grey-medium-dark);}
}

@keyframes waves-c{
  0% {background-color: var(--orange-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--green-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--orange-medium); color: var(--grey-medium-dark);}
}

@keyframes waves-d{
  0% {background-color: var(--green-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--red-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--green-medium); color: var(--grey-medium-dark);}
}

@keyframes waves-e{
  0% {background-color: var(--red-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--blue-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--red-medium); color: var(--grey-medium-dark);}
}

@keyframes waves-f{
  0% {background-color: var(--blue-medium); color: var(--grey-medium-dark);}
  50% {background-color: var(--purple-medium); color: var(--grey-medium-dark);}
  100% {background-color: var(--blue-medium); color: var(--grey-medium-dark);}
}


/* Page footer ------------------------------------------------------------- */
footer{
  padding: 2rem;
  font-size: calc(0.6rem + 0.3vw);
}

footer p.footer-updated{
  float: left;
  margin: 0;
  font-size: calc(0.6rem + 0.3vw);
}

footer p.footer-license{
  float: right;
  margin: 0;
  font-size: calc(0.6rem + 0.3vw);
}


/* Conditional content formatting ------------------------------------------ */
@media only screen and (max-width: 1023px){
  main{
    border-left: none;
    border-right: none;
  }

  footer p.footer-updated, footer p.footer-license{
    float: none;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px){
  #page-wrapper{
    width: 80%;
    margin: 2rem auto;
  }
}
