/*
  File Name  global.css
  Project    plind.us
  Version    9.0.0
  Author     Peter Lindstrom
  Purpose    Global styles utilized throughout the site.
  Copyright  2003-2022, Peter Lindstrom
  Link       https://github.com/plindstrom/plind.us
*/


/* Define style variables -------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif|Bebas+Neue");

:root{
  --page-color: rgb(0,0,0);
  --page-bg-color: rgb(207,207,207);
  --box-bg-color: rgb(240,240,240);
  --box-border-color: rgb(204,204,204);
  --content-bg-color: rgb(255,255,255);
  --content-shadow-color: rgb(170,170,170);
  --link-color: rgb(0,20,40);
  --link-hover: rgb(176,23,23);
  --text-post-date: rgb(136,136,136);
}

/*[data-theme="dark"]{
  --color: #a8a8a8;
  --background-color: #fff;
  --border-color: #555;
  --link-color: #9cdcfe;
  --link-hover: #d7ba7d;
}*/


/* Set defaults ------------------------------------------------------------ */
html,body,header,footer,nav,main,section,article,aside,h1,h2,h3,h4,h5,h6,ol,ul,img,p{
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

html{
	font-size: 100%;
}

body{
  background-color: var(--page-bg-color);
  font-family: 'IBM Plex Sans',sans-serif;
  color: var(--page-color);
}

header{
  padding: 2%;
  background-color: var(--box-bg-color);
  border-bottom: 0.2rem solid var(--box-border-color);
}

main{
  padding: 2%;
  background-color: var(--content-bg-color);
}

footer{
  padding: 2%;
  background-color: var(--box-bg-color);
  border-top: 0.2rem solid var(--box-border-color);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'IBM Plex Serif',serif;
}

h1{
  font-family: 'Bebas Neue','IBM Plex Sans',sans-serif;
  font-size: calc(1.8rem + 0.5vw);
}

h1 a{
  text-decoration: none;
}

h1 a:hover{
  text-decoration: underline;
}

h2{
  margin: 0 0 1rem 0;
  font-size: calc(1.4rem + 0.5vw);
  font-family: 'IBM Plex Sans',sans-serif;
}

h2 a{
  color: var(--page-color);
  text-decoration: none;
}

h2 a:hover{
  text-decoration: underline;
}

h3{
  margin: 1rem 0 0.5rem 0;
  font-size: calc(1rem + 0.5vw);
}

p,li{
  font-size: calc(1rem + 0.2vw);
}

p{
  margin: 0 0 1rem 0;
}

ul,ol{
  margin: 0 0 1rem 0; padding: 0 0 0 2rem;
}

a{
  color: var(--link-color);
}

a:hover{
  color: var(--link-hover);
}


/* Content formatting ------------------------------------------------------ */
#page-wrapper{
  /* Addtl styles in media only screen and min-width 768px */
  border: 0.2rem solid var(--content-bg-color);
}

#main-content{
  /* Addtl styles in media only screen and min-width 768px */
}

#side-content{
  /* Addtl styles in media only screen and min-width 768px */
  padding: 2%;
  background-color: var(--box-bg-color);
  border: 0.2rem solid var(--content-bg-color);
  box-shadow: -0.2rem 0.2rem 0 var(--box-border-color);
}

.post-summary{
  margin: 0 0 5% 0;
}

.post-date{
  font-size: calc(0.8rem + 0.2vw);
  color: var(--text-post-date);
}

.clear-float{
  clear: both;
}


/* Conditional formatting -------------------------------------------------- */
@media only screen and (min-width: 480px){
}

@media only screen and (min-width: 768px){
	#page-wrapper{
    width: 75%;
    margin: 2% auto 0 auto;
    box-shadow: 0 0 0.8rem var(--content-shadow-color);
	}

  #main-content{
    float: left;
    width: 70%;
  }

  #side-content{
    float: right;
    width: 20%;
  }
}
